<!DOCTYPE html>
<html lang="en" ng-app ng-controller="PhoneListCtrl2">
<head>
<meta charset="utf-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> -->
<title ng-bind-template="::Test Angular Web::{{query}}">::TEST Angular WEB::</title>
<link href="/css/bootstrap.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/ie8.js"></script>
<![endif]-->
<script src="js/jquery-2.0.3.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/angular_test.js"></script>
</head>

<body>
	<div class="container-fluid" id="angular_div">
		<div class="row-fluid" style="border:solid 1px gray;">
			<div class="span12 tooltip-demo well">
				<a id="mowo" href="#" rel="tooltip" title="first tooltip">别摸我</a>
				<p><label>Hi:<a id="hitext" href="#" rel="tooltip" title="first tooltip">{{hello}}</a></label></p>
				<p>Total number of phones: {{phones.length}}</p>
				<ul class="unstyled">
					<li ng-repeat="phone in phones">
						{{phone.name}}
						<p>{{phone.snippet}}</p>
					</li>
				</ul>
			</div>
		</div>
		<script>EL.AngularTest()</script>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6 well">
				<table>
					<tr><th>row number</th></tr>
					<tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
						<td>{{i}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8 well">
				search:<input ng-model="query" />
				sort by:
				<select ng-model="orderProp">
					<option value="name">Alphabetical</option>
					<option value="age">Newest</option>
				</select>
				{{orderProp}}
			</div>
			<div class="span8 well">
				<ul class="phones">
					<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
						{{phone.name}}
						<p>{{phone.snippet}}</p>
					</li>
				</ul>
				{{phones | json}}
			</div>
		</div>
	</div>
	
	
	<script src="js/angular.min.js"></script>
	<script src="js/controllers.js"></script>
	
</body>
</html>
